body {
    background: url('/architecture-buildings-calm-medium.jpg');
    /* Specify the backgrounds size for image to appear*/
    background-size: cover;
    background-repeat: no-repeat;
}

.col-sm-6, .col-md-4 {
    float: left;
}